img{
    width:100%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
    margin-right: .5em;
}

/* header */

header{
    /* height: 80px;
    line-height: 80px; */
    /* debug */
    background-color: aqua;
    border: 1px solid black;

}

/* jumbotron */

#jumbotron{
    background-color: antiquewhite;
    border: 1px solid black;

}

#jumbotron img{
    width: 60%;
}

.custom-wrapper{
    width: 70%;
    margin: 0 auto;
}